# Visual Studio
.vs/

# Build output
/bin/
/obj/

# NuGet packages
/packages/

# User-specific files
*.suo
*.user
*.userprefs
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/

# Resharper cache files
*_Resharper.*
*.resharper*

# Build tooling
msbuild.log
msbuild.err